@model List<StudentsModel>
<table>
	<tr>
	<th>
		name
	</th>
		<th>
		regno
	</th>
	<th>
		branch
	</th>
	</tr>
@foreach(var obj in Model){
	<tr>
	<td>@obj.name</td>
	<td>@obj.regno </td>
	<td>@obj.branch</td>
	</tr>
}
</table>