@model MVCFirstApp.Models.StudentsModel

<h1>Welcome to Presidio, Mr. Boppudi Satya Sampreeth</h1>
 @Html.ActionLink("GetStudentDetails","getstudents","Student")
 @using(Html.BeginForm("showstudents","Student")){
	 <p>name</p>
	 @Html.TextBoxFor(model => model.name )
	 <p>regno</p>
	 @Html.TextBoxFor(model => model.regno )
	 <p>branch</p>
	 @Html.TextBoxFor(model => model.branch)
	 <button>Submit</button>
 }



